*{
    margin:0px;
    padding: 0px;
    }
    
    body{
    background-image: url('gbr3.jpg');
    background-attachment: fixed;
    background-size: contain;
    font-family: new time roman;
}

hr{
    border-color: white;
}

h1{
    color: white;
    margin-top: 30px;
}

.input-group{
    margin-top: 20px;
}


.form-control{
 
    padding: 20px;
   width: 20px;
    text-align: center;
    
}

p{
    font-size: 19px;
    margin-top: 10px;
    color: white;
}

.btn-default{
    margin-left: 190px;
    font-size: 19px;
    border-radius: 0px;
    width: 190px;
    margin-top: 20px;
}

.col-md-6{
    background: rgba(19, 51, 72, 0.7);
    margin-top: 90px;
    height: 500px;
    box-shadow: 1px 4px 40px black;
}

#hasil{
      border: 2px solid rgb(255, 255, 204);
      background: rgba(255, 255, 254, 0.2);
      text-align: center;
      font-size: 20px;
      margin-top: 30px; 
}